.pageNotFound {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}

.message {
    margin-bottom: 184px;
}

.message__title {
    font-weight: normal;
    font-size: 140px;
    line-height: 169px;
    margin: 250px 0 5px 0;
}

.message__subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0;
}

.btn-404 {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4285F4;
    background-color: inherit;
}

@media screen and (max-width: 340px){
    .pageNotFound {
        max-width: none;
    }
}