.App {
    margin: 0 auto;
    max-width: 1280px;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link {
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    transition: opacity .3s ease-in-out;
}

.link_active {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
}

.link:hover {
    opacity: .6;
}

.btn {
    transition: opacity .3s ease-in-out;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.btn:hover {
    opacity: .6;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input {
    background: #2F2F2F;
    border-radius: 8px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    border: 0;
    padding: 15px;
    margin-top: 10px;
    outline: 0;
    transition: box-shadow .3s;
}

.input:focus {
    box-shadow: 0 0 3px 2px #4285F4;
}

.field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.field:last-child {
    margin-bottom: 0;
}

.field .field__preinput-span {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
    margin-bottom: 10px;
}

.submit {
    background: #4285F4;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    padding: 15px 126px;
    border: 0;
    margin: 69px auto 16px auto;
}

.submit__disabled {
    pointer-events: none;
    opacity: .3;
}

.form__underSubm-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
    margin: 0 auto;
}

.form__underSubm-link .link {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4285F4;
    margin-left: 6px;
}

.field__input-error {
    display: none;
    color: #EE3465;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    margin-top: 10px;
    letter-spacing: normal;
    width: 100%;
}

.field_invalid .field__input-error {
    display: block;
}

.field_invalid .input {
    color: #EE3465;
}

@media screen and (max-width: 786px){
    .field .field__preinput-span {
        margin: 0;
    }
}