.search {
    padding: 70px 70px 69px 70px;
}

.search__form {
    background: #2F2F2F;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    padding: 19px;

}

.search__img {
    margin-right: 10px;
}

.search__form .search__input {
    background: inherit;
    border: 0;
    outline: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    width: calc(100% - 400px);
}

.search__submit {
    width: 80px;
    height: 34px;
    background-color: #4285F4;
    background-image: url('../../../images/submit-search-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 48px;
    margin-left: auto;
}