.aboutMe {
    padding: 100px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMe__title {
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    border-bottom: 1px solid #DADADA;
    width: 100%;
    padding-bottom: 23px;
    margin-bottom: 0;
}

.aboutMe__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 66px;
}

.aboutMe__text {
    max-width: 600px;
}

.aboutMe__name {
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    margin: 0  0 18px 0;
}

.aboutMe__short {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 26px 0;
}

.aboutMe__tale {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    letter-spacing: normal;
}

.aboutMe__photo-block {
    width: 270px;
    height: 327px;
    margin-left: 49px;
}

.aboutMe__photo {
    border-radius: 10px;
}

.aboutMe__links {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 99px 0 0 0;
}

.aboutMe__link {
    margin-right: 20px;
}

@media screen and (max-width: 786px){
    .aboutMe {
        padding: 90px 50px;
    }

    .aboutMe__name {
        font-size: 40px;
        line-height: 40px;
    }

    .aboutMe__short {
        font-size: 12px;
        line-height: 18px;
    }

    .aboutMe__tale {
        font-size: 12px;
        line-height: 18px;
    }

    .aboutMe__photo {
        width: inherit;
    }

    .aboutMe__photo-block {
        width: 255px;
        height: 307px;
    }
}

@media screen and (max-width: 570px) {
    .aboutMe__info {
        flex-direction: column-reverse;
        align-items: center;
    }

    .aboutMe__photo-block {
        margin-left: 0;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 450px) {
    .aboutMe {
        padding: 70px 18px;
    }

}

@media screen and (max-width: 310px) {
    .aboutMe__photo-block {
        width: 100%;
        height: auto;
    }

    .aboutMe__name {
        font-size: 30px;
        line-height: 36px;
    }

    .aboutMe__short {
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
    }

    .aboutMe__tale {
        font-size: 11px;
        line-height: 16px;
    }

    .aboutMe__links {
        margin-top: 40px;
    }

    .aboutMe__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }
}